<header class="bg-emerald-600 text-white shedow-md">
    <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-xl font-bold tracking-tight">Tecnologia</h1>
        <ul class="flex space-x-6 text-sm font-medium">
            <li class="hover:text-emerald-300 transition"><a routerLink="">Ínicio</a></li>
            <li class="hover:text-emerald-300 transition"><a routerLink="tutoriais">Tutoriais</a></li>
            <li class="hover:text-emerald-300 transition"><a routerLink="documentacao">Documentação</a></li>
            <li class="hover:text-emerald-300 transition"><a routerLink="sobre">Sobre o Autor</a></li>
        </ul>
    </nav>
</header>
