<nav class="container mx-auto px-6 py-4 flex flex-col md:flex-row justify-between items-center gap-4">
    <h1 class="text-xl font-bold tracking-tight">Tecnologia</h1>
    
    <ul class="flex flex-wrap justify-center space-x-4 md:space-x-6 text-xs md:text-sm font-medium">
        <li><a routerLink="" class="hover:text-purple-300 transition">Início</a></li>
        <li><a routerLink="tutoriais" class="hover:text-purple-300 transition">Tutoriais</a></li>
        <li><a routerLink="documentacao" class="hover:text-purple-300 transition">Docs</a></li>
        <li><a routerLink="sobre" class="hover:text-purple-300 transition">Sobre</a></li>
    </ul>
</nav>